@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    src: url('Raleway-Italic.ttf');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('Raleway-Bold.ttf');
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 700;
    src: url('Raleway-BoldItalic.ttf');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    src: url('Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 800;
    src: url('Raleway-ExtraBoldItalic.ttf');
}
