/* ------------------- */
/* SHOP CATEGORY PAGES */
/* ------------------- */
.oe_website_sale > .row {
    display: flex;
    flex-flow: column;
}

#products_grid_before {
    order: 1;
}

#products_grid {
    order: 0;
}

#products_grid .oe_product section {
    background: #ffffff;
    font-size: 20px;
}
#products_grid .oe_product section h5 {
    font-size: 20px;
}
#products_grid .oe_product section a {
    color: white;
}
#products_grid .product_price.text-primary {
    color: white;
}

#products_grid .oe_product .oe_product_image {
    height: 200px;
}

#products_grid .oe_product section h5 a {
    text-decoration: none;
    cursor: default;
}

#products_grid .oe_product .oe_product_image a {
    cursor: default;
}

#products_grid .oe_product .oe_product_image img {
    width: auto;
    max-height: initial;
    height: 100%;
    max-width: initial;
}

@media (max-width: 768px) {
    #products_grid .oe_product .oe_product_image {
        height: 130px;
    }
}

/* special design for additional add to cart button within shop grid view */
.oe_product_cart .quick_add_to_cart {
    position: relative;
    bottom: 20px;
}
.oe_product_cart .quick_add_to_cart .a-submit a {
    width: 100%
}
.oe_product_cart .quick_add_to_cart .a-submit.fa-shopping-cart:before {
    padding-right:10px;
}

body .col-md-12 .oe-height-2 {
  height: 500px;
}
@media (max-width: 400px) {
    body #products_grid .oe_product section {
        background: #fff;
    }
}

ul.nav-stacked > li > a {
    color: #dc0000;
}

.oe_product .oe_product_image {
     left: 0px !important;
     right: 0px !important;
     top: 0px !important;
     bottom: 0px !important;
}

.oe_product .quick_add_to_cart a,
.oe_product .oe_subdescription {
    font-family: Raleway, sans-serif !important;
}

.oe_product .quick_add_to_cart a {
    background: #eaebec;
    border-color: #eaebec;
    color: #2b2b2b !important;
    font-size: 16px;
    line-height: 24px;
    border-radius: 0px;
    padding: 6px 12px;
    margin: 8px 0px;
}

.oe_product .oe_subdescription * {
    font-size: 18px;
}

.oe_product .quick_add_to_cart a:hover {
    color: #2b2b2b !important;
    background-color: #d6d8da;
    border-color: #cfd2d4;
}

.oe_product .oe_subdescription {
    color: white;
}

#products_grid .oe_product h5 a {
    color: #628ecc;
    font-size: 21.6px;
    font-weight: normal;
}

#products_grid .oe_product section {
    padding: 1.5rem !important;
}

.oe_product .oe_subdescription {
    margin-bottom: 20px !important;
}

.oe_product h5,
.oe_product .oe_currency_value
{
    font-family: Raleway, sans-serif;
}

body[data-rootcatid="7"] #products_grid div.product_price::after {
    content: "inkl. MwSt." !important;
    margin-left: 8px;
    font-size: 12px;
    font-weight: normal;
    color: black;
}

body[data-rootcatid="7"] #products_grid_before > h3 > a > span {
    font-size: 0px;
}

body[data-rootcatid="7"] #products_grid_before > h3 > a > span::after {
    content: "Ihre Bestellung";
    font-size: 24px;
}

body[data-rootcatid="7"] #products_grid_before > div.text-left.small_cart_buttons > a {
    font-size: 0px;
}

body[data-rootcatid="7"] #products_grid_before > div.text-left.small_cart_buttons > a::after {
    content: "zahlungspflichtig bestellen";
    font-size: 16px;
}

.oe_product h5,
.oe_product .oe_subdescription,
.oe_product .product_price *
{
    color: #2b2b2b;
}
.oe_product .product_price {
    padding: 10px 0 !important;
}

.oe_product .quick_add_to_cart > a:before {
    font-family: Fontawesome !important;
}

/* Remove box shadows etc */

.oe_product.oe_grid {
    box-shadow: none !important;
}

.oe_product.oe_grid:hover {
    box-shadow: none !important;
}

#products_grid table {
    border-spacing: 20px !important;
}

@media (min-width: 769px) {
    #products_grid .oe_product section {
        height: 300px;
    }

    .oe_product_cart .quick_add_to_cart {
        position: absolute;
        bottom: 35px;
    }
}

@media (max-width: 768px) {
    #products_grid .oe_product {
        height: 350px !important;
    }
}
