.glyphicon-info-sign {
    color: white;
    background-color: #FEBE20;
    border-color: #FEBE20;
}

.glyphicon-info-sign:hover {
    color: white;
    background-color: #FEBE20;
    border-color: #FEBE20;
}
